<div class="ms-frame">
  <!-- header -->
  <div class="frame-h">
    <div class="frame-h-act">
      <a ui-sref="manageService" class="frame-h-act-btn ms-back-btn"></a>
    </div>
    <h3 class="frame-h-ctx">Manage Websites and Files</h3>
  </div><!-- /header -->
  <!-- content 1 -->
  <div class="content-1">
    <h3 class="content-1-h">Create a Service</h3>
    <p class="content-1-p">
      Here you can create a service to be used with public id. This domain will form the
      URL used to view your site in the browser e.g. blog.maidsafe.safenet
    </p>
  </div><!-- /content 1 -->
  <!-- create service form -->
  <div class="ms-form" ng-controller="ServiceCtrl">
    <form name="create_service" ng-submit="createService()">
      <div class="form-grp lgt">
        <input type="text" name="service" required="required" placeholder="Service" ng-model="serviceName">
      </div>
      <div class="form-grp-btn">
        <button type="submit" class="ms-btn ms-primary-btn" name="submitService">Next</button>
      </div>
    </form>
  </div><!-- create public ID form -->
</div>
