<div class="ms-frame">
  <!-- header -->
  <div class="frame-h">
    <div class="frame-h-act">
      <a ui-sref="/" class="frame-h-act-btn">&lt;</a>
    </div>
    <h3 class="frame-h-ctx">Manage Websites and Files</h3>
  </div><!-- /header -->
  <!-- content 1 -->
  <div class="content-1">
    <h3 class="content-1-h">Time to add some files</h3>
    <p class="content-1-p">
      Here you can create a service to be used with your public id. This domain
      will form the URL used to view your site in the browser e.g. blog.maidsafe.safenet
    </p>
  </div><!-- /content 1 -->
  <!-- explorer -->
  <div class="ms-explr">
    <div class="ms-explr-h">
      <div class="ms-explr-h-lt">
        <button type="button" class="ms-btn" name="goBack">B</button>
        <button type="button" class="ms-btn" name="goForward">F</button>
        <button type="button" class="ms-btn" name="goStepBack">SB</button>
      </div>
      <div class="ms-explr-h-addrbar">
        <input type="text" name="addrBar" value="">
      </div>
      <div class="ms-explr-h-rt">
        <button type="button" class="ms-btn" name="goBack">+</button>
        <button type="button" class="ms-btn" name="goBack">R</button>
        <button type="button" class="ms-btn" name="goBack">D</button>
      </div>
    </div>
    <div class="ms-explr-cont">
      
    </div>
  </div>
  <!-- explorer -->
</div>
