<div class="ms-frame">
  <!-- header -->
  <div class="frame-h">
    <div class="frame-h-act">
      <a ui-sref="home" class="frame-h-act-btn">&lt;</a>
    </div>
    <h3 class="frame-h-ctx">Manage Websites and Files</h3>
  </div><!-- /header -->
  <!-- content 1 -->
  <div class="content-1">
    <h3 class="content-1-h">Time to add some files</h3>
    <p class="content-1-p">
      Here you can create a service to be used with your public id. This domain
      will form the URL used to view your site in the browser e.g. blog.maidsafe.safenet
    </p>
  </div><!-- /content 1 -->
  <div class="" ng-controller="ServiceCtrl" ng-init="explorerInit()">
    <div class="confirm-service">
      <h3 class="confirm-service-title">{{ newService }}</h3>
      <h3 class="confirm-service-path">{{ newServicePath }}</h3>
      <div class="confirm-service-act">
        <button type="button" class="ms-btn ms-primary-btn" name="confirmService" ng-click="publishService()">Publish</button>
      </div>
    </div>
    <!-- explorer -->
    <explorer is-private="false" on-directory-selected="setTargetFolder(name)"/>
    <!-- explorer -->
  </div>
</div>
