<div class="ms-frame">
  <!-- header -->
  <div class="frame-h">
    <div class="frame-h-act">
      <a ui-sref="home" class="frame-h-act-btn">&lt;</a>
    </div>
    <h3 class="frame-h-ctx">Manage Websites and Files</h3>
  </div><!-- /header -->
  <!-- content 1 -->
  <div class="content-1">
    <h3 class="content-1-h">Time to add some files</h3>
    <p class="content-1-p">
      Here you can create a service to be used with your public id. This domain
      will form the URL used to view your site in the browser e.g. blog.maidsafe.safenet
    </p>
  </div><!-- /content 1 -->
  <!-- explorer -->
  <explorer is-private="false" on-directory-selected="test(name)"/>
  <!-- explorer -->
</div>
